/* 
Title:		Master styles for screen media
Author: 	dan@simplebits.com
*/

body {
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #444;
	background: #ccc;
	}
	
/* links */

a:link, a:visited {
  color: #15c;
	outline: none;
	text-decoration: none;
	}

a:hover {
  color: #15c;
	text-decoration: underline;
}

/* page structure 
--------------------------------------------- */

#page {
	width: 960px;
	margin: 0 auto;
	box-shadow: 0 0 4px 4px #999;
  -moz-box-shadow: 0 0 4px 4px #999;
  -webkit-box-shadow: 0 0 4px 4px #999;
  }

.main {
	background-color: rgb(255, 255, 255);
	line-height: 1.3em;
  padding: 10px 10px;
	}

/* header 
--------------------------------------------- */

#header {
	background-color: #30423C;
	width:100%;
	}

/* logo */

#logo {
	}
	
#logo img {
	float: left;
	margin: 1em 0 1em 2em;
	width: 100px;
	height: 100px;
	}

/* navigation */
	
#nav {
	float: left;
	width:100%;
	}

#nav ul {
	font-size: 20px;
	font-weight: bold;
	margin: 56px 0 0 0;
	letter-spacing: 2px;
	}

#nav ul li {
	float: left;
	margin-left: 1em;
	}
	
#nav ul li a:link,
#nav ul li a:visited {
  border-bottom: none;
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, .6);
	text-decoration: none;
	padding: .8em 5px;
	}

#nav ul li a:hover {
  border-bottom: none;
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: .8em 5px;
	}

#nav ul li.selected a {
	color: rgb(255, 255, 255);
	}

/* main styles 
--------------------------------------------- */

#gallery {
  height: 300px;
}

#gallery img {
  margin-left: 4em;
}

.main h2 {
	font-weight:normal;
	font-size:160%;
	margin:0 0 5px 0;
}

.main p {
  margin: 10px 0;
}

#maincontent {
  display: block;
}

ul.features {
  display: block;
}

ul.features li {
  margin: 0px 0px 15px 0px;
  overflow: hidden;
  padding: 0px;
}

ul.features li img {
  float: left;
  padding-right: 10px;
}

ul.features li h3 {
  display: : block;
}

.prices table {
	float: left;
	margin-top: 8px;
}

.prices td {
  padding: 0.8em;
}

.prices td span.heading {
	display: block;
	font-weight: bold;
	padding-right: 2em;
}

.prices td span.dates {
}

.prices td span.price {
	display: block;
	text-align: center;
}

.prices td span.price-period {
	text-align: center;
}

.availability {
	float: right;
	width: 47%;
}

#testimonials {
  height: 160px;
  margin: 10px 0;
}

#testimonials ul {
  display: block;
  width: 100%;
}

.testimonial {
  background-color: #F4F4F4;
  border: 1px solid #ECECEC;
  float: left;
  margin-right: 9px;
  padding: 10px;
  width: 30%;
}

.testimonial.last {
  margin-right: 0;
}

.testimonial blockquote {
  color: #A7A5A5;
  float: left;
  line-height: 1.25em;
  padding-top: 4px;
  quotes: none;
}

.testimonial p.from {
  clear:both;
  color: #A7A5A5;
  font-style: italic;
  margin: 0;
  padding-bottom: 12px;
  text-align: right;
}

/* form
--------------------------------------------- */

form ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

form li {
	margin:0;
	padding:6px 1% 9px 1%;
	clear:both;
}

form li label {
	font-size:95%;
	font-weight:bold;
	color:#222;
	line-height:150%;
	margin:0;
	padding:0 0 3px 0;
	border:none;
	display:block;
}

input[type="text"], 
textarea {
	font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
	font-size:100%;
	color:#333;
	margin:0;
	padding:2px 0;
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url(/images/fieldbg.gif) repeat-x top;
}

input[type="text"] {
  width: 300px;
}

textarea {
	height:10em;	
}

/* footer 
--------------------------------------------- */

#footer {
	background-color: #30423C;
	clear: both;
  color: rgb(153, 153, 153);
	padding: 20px 10px 20px 10px;
  text-align: center;
  vertical-align: middle;
	}

#footer a:link,
#footer a:visited {
  border-bottom: 1px dotted rgb(153, 153, 153);
  color: rgb(153, 153, 153);
	outline: none;
	text-decoration: none;
	}

#footer a:hover {
  border-bottom: 1px solid rgb(153, 153, 153);
  color: rgb(153, 153, 153);
}


/* misc. 
--------------------------------------------- */

hr, .hide {
	display: none;
	}
a img {
	border: none;
	}

.clearfix {
  clear: both;
}

/* self-clear floats */

.group:after {
	content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  }